<div class="face-snap-card snapped" [ngClass]="{snapped: faceSnap.snapped}">
    <h2> {{ faceSnap.title | uppercase }}</h2>
    <p> {{ faceSnap.description }}</p>
    <button (click)="onViewFaceSnap(faceSnap.id)">VIEW</button>
</div>
<!-- 
dd/MM/yyyy, à HH:mm -->


<!-- Pipes pour le formatage des nombres :  -->

<!-- 
    DecimalPipe => number : '1.0-1' => 1 (chiffre minimum) avant la virgule, 0 (chiffre minumum) après la virgule, 1 (chiffre maximum) après la virgule avec l'arrondi
    PercentPipe => percent avec l'arrondi par défaut mais on peut le changer avec l'argument
    CurrencyPipe => currency avec argument 'EUR' pour changer le symbole, deuxieme argument permet de changer le code de la devise
 -->